{% extends 'home/index.html' %}

{% block navigation %}
			<a href="/" class="f4 link dark-gray pa4 pointer">Introduction</a>
{% endblock %}

{% block main %}
 <form action="/signup" method="POST" accept-charset="utf-8">
 	{% csrf_token %}
    <fieldset id="sign_up" class="ba b--transparent ph0 mh0 mw6 ml-auto mr-auto">
      <legend class="ph0 mh0 fw6 clip">Sign Up</legend>
      <div class="mt3">
        <label class="db lh-copy f4" for="first-name">First Name*</label>
        <input class="pa2 input-reset ba bg-transparent w-100 measure" type="text" name="first-name"  id="first-name" required>
      </div>
      <div class="mt3">
        <label class="db lh-copy f4" for="last-name">Last Name</label>
        <input class="pa2 input-reset ba bg-transparent w-100 measure" type="text" name="last-name"  id="last-name">
      </div>
      <div class="mt3">
        <label class="db lh-copy f4" for="email-address">Corresponding/Permanent Email address*</label>
        <input class="pa2 input-reset ba bg-transparent w-100 measure" type="email" name="email-address"  id="email-address" required>
      </div>
      <div class="mt3">
        <label class="db lh-copy f4" for="official-email-address">Official Email address</label>
        <input class="pa2 input-reset ba bg-transparent w-100 measure" type="email" name="official-email-address"  id="official-email-address">
      </div>
      <div class="mt3">
        <label class="db lh-copy f4" for="password">Password*</label>
        <input class="b pa2 input-reset ba bg-transparent" type="password" name="password"  id="password" required>
      </div>
    </fieldset>
    <div class="mt3 mw6 ml-auto mr-auto">
    	<input class="b ph3 pv2 input-reset ba b--black bg-transparent grow pointer f6" type="submit" value="Sign Up">
    </div>
</form>
{% endblock %}
