            <div id="text-toolbar" class="toolbar">
                <div class="flex-top">
                    <select class="ql-font">
                    </select><br>
                    <div class="bt w-100 mb2"></div>
                    <div class="mb2">
                        <button class="ql-bold"></button>
                        <button class="ql-italic"></button>
                        <button class="ql-underline"></button> 
                    </div>
                    <div class="mb2">
                        <!-- Add font size dropdown -->
                        <select class="ql-size">
                            <option value="small"></option>
                            <!-- Note a missing, thus falsy value, is used to reset to default -->
                            <option selected></option>
                            <option value="large"></option>
                            <option value="huge"></option>
                        </select>
                    </div>
                    <div class="mb2">
                        <button class="ql-align" value=""></button>
                        <button class="ql-align" value="center"></button>
                        <button class="ql-align" value="right"></button>
                        <button class="ql-align" value="justify"></button>
                    </div>
                    <div class="mb2">
                        <!-- Add subscript and superscript buttons -->
                        <button class="ql-list" value="ordered"></button>
                        <button class="ql-list" value="bullet" ></button>
                    </div>
                    <div class="bt w-100 mb2"></div>
                    <div class="mb2">
                        <select class="ql-color"></select>
                        <select class="ql-background"></select> 
                        <button class="ql-strike"></button> 
                    </div>
                    <div class="bt w-100 mb2"></div>
                    <div class="mb2">
                        <button class="ql-indent" value="+1"></button>
                        <button class="ql-indent" value="-1"></button>
                    </div>
                    <div class="mb2">
                        <button class="ql-script" value="sub"></button>
                        <button class="ql-script" value="super"></button>   
                    </div>
                    <div class="mb2">
                        <button class="ql-formula"></button>
                        <button class="ql-link"></button>
                    </div>
                    <div class="mb2">
                        <button class="ql-blockquote"></button>
                        <button class="ql-video"></button>
                    </div>
                    <!-- <div class="bt w-100 mb2"></div> -->
                </div>
            </div>