            <div id="figure-toolbar" class="toolbar dn">
                <div class="flex-top">
                    <label>Width: </label>
                    <input id="image_width" type="text" name="image_width" class="w-80">
                    <label>Height: </label>
                    <input id="image_height" type="text" name="image_height" class="w-80">
                    <label>Alt Text: </label>
                    <input id="image_alt" type="text" name="image_alt" class="w-80">
                    <label>Label: </label>
                    <input id="figure_label" type="text" name="figure_label" class="w-80">
                    <label>Caption: </label> 
                    <textarea id="figure_caption" class="h4 w-80"></textarea>                    
                </div>
            </div>